.btn-primary {
  background-color: #ef3f3f;
  border-color: #ef3f3f;
}

.btn-primary:hover {
  background-color: #c42727;
}

div {
  //padding-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: white;
  height: 60px;
}
