.container {
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: coral;
  font-size: 2rem;

  p.author {
    font-size: 1.5rem;
    color: gainsboro;
  }
}
