img {
  height: 200px;
}

@media (max-width: 1040px) {
  .direction-column {
    flex-direction: column;

    img {
      height: 20vw;
      margin-left: 10px;
    }
  }
}

@media (max-width: 650px) {
  .direction-column {
    img {
      width: 400px;
      height: unset;
      margin-left: 10px;
    }
  }
}
