<form class="d-flex flex-column">
  <h2>Registrar nova matéria</h2>

  <div class="mb-3">
    <label for="escola" class="form-label">Escola</label>
    <input type="text" class="form-control" id="escola">
  </div>

  <div class="mb-3">
    <label for="nome" class="form-label">Nome</label>
    <input type="text" class="form-control" id="nome">
  </div>

  <div class="row">
    <div class="col-8">
      <div class="mb-3">
        <label for="professor" class="form-label">Professor</label>
        <select id="professor" class="form-select" aria-label="Default select example">
          <option selected disabled>Selecione um(a) professor(a)</option>
          <option value="otavio">Otávio</option>
          <option value="vivian">Vivian</option>
          <option value="leandro">Leandro</option>
          <option value="claudia">Cláudia</option>
        </select>
      </div>
    </div>

    <div class="col-4">
      <div class="mb-3">
        <label for="carga-horaria" class="form-label">Carga horária (40-900)</label>
        <input type="number" min="40" max="900" class="form-control" id="carga-horaria">
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col justify-content-center d-inline-flex gap-4">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="obrigatoria" id="obrigatoria-true">
        <label class="form-check-label" for="obrigatoria-true">
          Obrigatória
        </label>
      </div>

      <div class="form-check">
        <input class="form-check-input" type="radio" name="obrigatoria" id="obrigatoria-false" checked>
        <label class="form-check-label" for="obrigatoria-false">
          Opcional
        </label>
      </div>
    </div>
  </div>

  <button type="button" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#confirmationModal">Registrar</button>
</form>

<div class="modal" tabindex="-1" id="confirmationModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Formulário enviado com sucesso!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
