/* You can add global styles to this file, and also import other style files */
.m1s08-body {
  min-height: 100vh;
  position: relative;
}

.m1s09-part2-body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(51deg, #596b39, #49501f);
}

.m1s09-part4-body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
